@import url('https://fonts.googleapis.com/css2?family=Bellota&family=Fredoka+One&family=Homemade+Apple&family=Montserrat&family=Sacramento&display=swap');

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* HEADER & NAV STYLING */
.header {
    height: 400px;
    background: url('../images/floating-flowers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    display: flex;
    align-items: flex-end;
}

.title,
.title-change {
   font-size: 5.5rem;
   letter-spacing: 3px;;
   margin: 0px 0px 20px 40px;
   color: white;
}

.nav {
    position: fixed;
    right: 20px;
    top: 300px;
    z-index: 1;
}

.vertical-menu {
    writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    color: #A6A29F;
    text-decoration: none;
}

.contact {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

.nav i {
    color: #FFC0CB;
}

.nav i:hover {
    color: #AB7B79;
}


/* GENERAL STYLING OF MAIN SECTIONS */
main {
   background: #D9D9D910; 
}

.section-title {
    text-align: center;
    padding: 20px;
    font-size: 3.2rem;
    font-family: 'Bellota', cursive;
    letter-spacing: 4px;
    color: #AB7B79;
}

.project-title-space {
    padding-top: 60px;
}

/* PROJECTS STYLING */
.project-wrapper {
    margin: 80px 80px;
    display: flex;
}

.project-images,
.projects-words {
    flex: 50%;
}

.project-title {
    font-family: 'Fredoka One', cursive;
    letter-spacing: 1px;
    color: #8C1C03; 
}

.project-title,
.project-words,
.project-links {
    padding: 8px;
}

.project-words{
    color: #A6A29F;
}

.project-links a{
    color: #BF8E34;
    text-decoration: none;
}


.single-project-image {
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.project-images {
    text-align: center;
}

/* SKILLS STYLING */
.skills-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 50px;
    margin: 50px 80px;
    color: #A6A29F;
}

.skill-set-wrapper {
    text-align: center;
}

.skill-set-wrapper i {
    color: #BF8E34;
}

.skill-set-wrapper i:hover {
    color: #8C1C03;
}

.skill-text {
    margin: 10px;
}

/* ABOUT STYLING */
.about-wrapper {
    margin: 50px 80px;
    display: flex;
}

.about-text,
.about-image {
    flex: 50%;
}

.about-image {
    background: url("../images/profile-about.jpg");
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 400px;
    border-radius: 10px;
}

.about-text {
    margin-top: 60px;
    padding-left: 50px;
    color: #A6A29F;
    text-align: center;
    line-height: 150%;
}

.accent-text,
.accent-text-greet {
    color: #8C1C03;
    font-size: 1.2rem;
    font-weight: bold;
}

.accent-text-greet {
    font-size: 2rem;
}

/* FOOTER STYLING */

footer {
    text-align: center;
    margin-top: 80px;
    padding-bottom: 40px;
    text-decoration: none;
    background: #D9D9D940;
    padding: 20px;
}

footer span,
footer p {
    color: #A6A29F;
    padding: 10px;
}

footer a {
    color: #FFC0CB;
}

footer a:hover {
        color: #BF8E34;
}

@media screen and (max-height: 700px) {
    .nav {
        top: 20px;
    }

    .vertical-menu {
        color: #8C1C03;
    }
}



@media screen and (max-width: 800px) {  

  .about-image,
  .single-project-image {
      width: 400px;
  }

  .project-wrapper {
      display: block;
  }

  .projects-words {
      padding-bottom: 20px;
  }

  .about-wrapper {
      display: block;
  }

  .about-image {
    margin-left: auto;
    margin-right: auto;
  }

  .nav {
    top: 20px;
  }

  .vertical-menu {
    color: #8C1C03;
    }
}

@media screen and (max-width: 400px){
    .about-image,
    .project-images {
        width: 200px;
    }
}