@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Homemade+Apple&family=Montserrat&display=swap');

* {
    margin: 0px;
    box-sizing: border-box;

}

.header {
    height: 400px;
    background: url('../images/floating-flowers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.nav {
    position: fixed;
    width: 100%;
    top: 300px;
    z-index: 1;
}

.contact {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    text-decoration: none;
}

i {
    color: #FFC0CB;
}

i:hover {
    color: white;
}

.about-image {
    background: url("../images/profile-about.jpg");
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 400px;
    float: left;
}

.skills-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 50px;
    padding: 100px;
}

.skill-set-wrapper {
    text-align: center;
}

.skill-text {
    margin: 8px;
}