@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Homemade+Apple&family=Montserrat&family=Sacramento&display=swap');

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.header {
    height: 400px;
    background: url('../images/floating-flowers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    display: flex;
    align-items: flex-end;
}

.title {
   font-size: 5.5rem;
   letter-spacing: 3px;;
   margin: 0px 0px 20px 40px;
   color: white;
}

/* #title-change {
    font-size: rem;
} */

.nav {
    position: fixed;
    width: 100%;
    top: 300px;
    z-index: 1;
}

.contact {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    text-decoration: none;
}

i {
    color: #FFC0CB;
}

i:hover {
    color: white;
}


/* GENERAL STYLING OF MAIN SECTIONS */
main {
   background: #D9D9D980; 
}

.section-title {
    text-align: center;
    padding: 20px;
    font-size: 3rem;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 4px;
    color: #AB7B79;
}

/* PROJECTS STYLING */



/* SKILLS STYLING */
.skills-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 50px;
    padding: 80px;
}

.skill-set-wrapper {
    text-align: center;
}

.skill-text {
    margin: 8px;
}


/* ABOUT STYLING */
.about-image {
    background: url("../images/profile-about.jpg");
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 400px;
    float: left;
}
